<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-alerts></app-alerts>
      <ol>
        <li>Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning or success message in the Components</li>
        <li>Style the Components appropriately (maybe some red/ green text?)</li>
      </ol>
      <p>Use external or internal templates and styles!</p>
      <p>Feel free to create more components, nest them into each other or play around with different types of selectors!</p>
    </div>
    <hr>
    <div class="col-xs-12">
      <h4>Answers</h4>
      <p>In this assignment I wrote three components, the successful alert, the warning alert, and a global alert component
        which group the other two. The warning and successful alerts define their template inline because it just have one
        line, so there is no need to create an html file. For the style I do created single files because it will be ugly to put
        so many css code in the component definition. Finally the alert component doesn´t need a particular style, so just have
        an html file. I created two of the components manually so I have some issues with th selectors.
      </p>
    </div>
  </div>
</div>

